

.deathnotedate{
  font-size: 120px;
  font-family: "Death Note";
  background:transparent;
  color:white;
  font-weight: bold;
}
.deathnotetime{
  color:#5F515D
}
.deathnotedatelabel{
   text-shadow: 0 0 15px #fff;
   
}
