

.deathnotedate{
  font-size: 85px;
  font-family: "budmo jigglish";
   color:purple;
   background: transparent;
  font-weight: bold;
}

.kendricklyric{
  font-size: 50px;
  margin-bottom: 30px; 
}
.deathbox{
   background:linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));

}
