

.deathnotedate{
  font-size: 75px;
  font-family: "budmo jigglish";
   color:purple;
   background: transparent;
  font-weight: bold;
}

.kendricklyric{
  font-size: 50px;
  margin-bottom: 30px; 
}
.deathbox{
   

}
